#content{
    margin: 50px;
}
#nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 10vh;
}
#data{
    text-align: center;
}
table{
    display: inline-block;
    text-align: center;
    
}
td{
    padding: 15px;
    background-color: #eeeeee;
}
th{
    padding: 15px;
    background-color: #bbbbbbbb;
    font-size: large;
}
#back_button, #front_button{
    padding: 6px;
    margin-top: 10px;
    cursor: pointer;
    font-size: medium;
}
#action-buttons-div{
    position: absolute;
    left: 74vw;
    bottom: 31.8vh;
}


input{
    
    font-size: larger;
}
select{
    font-size:medium;
    text-align: center;
    width: 6em;
}

#worker_list{
    position: absolute;
    left: 10vw;
}
.action_button{
    cursor: pointer;
    font-size: medium;
}
#add_worker{
    position: relative;
    top:3vh;
    right:6.3vw;
}
#form-div{
    display: none;
    border:solid black 2px;
    padding-right:15px;
    padding-top:35px;
    padding-bottom:20px;
    margin-left:5vw;
}
#exit_form{
    position: relative;
    left:21vw;
    bottom:18vh;
}