{% extends "shift_manager/base.html" %}
{% block content %}
<table>
    <tr>
        <th></th>
        {% load filters %}

        {% for week_day in "0 1 2 3 4 5 6"|list_split %}
        <th>{{ 'Sunday Monday Tuesday Wednesday Thursday Friday Saturday'|list_split|list_index:week_day }}
            <br>
            {{ week_dates|list_index:week_day }}
        </th>
        {% endfor %}
    </tr>
    {% for range in "0 1 2"|list_split %}
    {% cycle 'mo' 'af' 'ni' as shift silent %}
    <tr>
        <th>{% cycle 'Morning' 'Afternoon' 'Night' %}<br>{% cycle '06:00-15:00' '15:00-20:00' '20:00-06:00' %}</th>
        <form action="{% url 'save' %}" method="post">
            {% csrf_token %}
            {% for week_day in "0 1 2 3 4 5 6"|list_split %}
            <td>
                {% with cell_date=week_dates|list_index_date:week_day %}
                <select name="Worker">
                    {% filter_worker_name cell_date shift %}
                    <option value="empty">------</option>
                    {% for worker in available_workers_list %}
                    <option value="{{ worker.Worker_ID }}"> {{ worker.Full_Name }} </option>
                    {% endfor %}
                    <input type="text" name="Shift" id="" value={{ shift }}  hidden>
                    <input type="date" name="Date" id="" value="{{ cell_date }}" hidden>
                </select>
                {% endwith %}
            </td>
            {% endfor %}
            <td><input type="submit" value="&#x2713">
                <input type="submit" value="&#x1f5d1" formaction="{% url 'delete' %}" id="clear-row"></td>
        </form>
    </tr>
    {% endfor %}
</table>
<input type="text" hidden id="week_num" value="{{ week_num }}">
<input type="text" hidden id="year" value="{{ year }}">
<div id="calender_buttons">
    <button id="back_button" onclick=button_control(week_num-1)><</button>
    <button id="front_button" onclick=button_control(week_num+1)>></button>
</div>
<div id="action-buttons-div">
<a href="/"><button class="action_button" id="current_week">This Week</button></a>
<button class="action_button" id="clear_all">Clear All!</button>
<button class="action_button" id="save_all">Save All!</button>
{% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
{% endif %}
</div>
<div id="worker_list">
    <table style="font-size:small;">
        <tr>
            <th style="font-size: small;">Worker ID:</th>
            <th style="font-size: small;">Full Name:</th>
            <th style="font-size: small;">Available Work Days:</th>
        </tr>
        {% for worker in workers_list %}
        <tr>
            <td>{{ worker.Worker_ID }}</td>
            <td>{{ worker.Full_Name }}</td>
            <td>{{ worker.Work_Days_Left }}</td>
        </tr>
        {% empty %}
        <td align="center" colspan="3">No Workers</td>
        {% endfor %}
    </table>
</div>
<script>
    
    
    let week_num = parseInt(document.getElementById("week_num").value)
    let year = parseInt(document.getElementById("year").value)
    function button_control(value){
        return window.location.replace("/"+year+"/"+String(value));
    }

    
    
    $("#save_all").click(function(){
            $.post("{% url 'save' %}",$('form').serialize());
            setTimeout(function(){window.location.reload();},1000)
    });


    $("#clear_all").click(function(){
            if (confirm("Are you sure?") == true){
                $.post("{% url 'delete' %}",$('form').serialize());
                setTimeout(function(){window.location.reload();},1000)
            };
            
    });


</script>
{% endblock %}
